<?xml version="1.0" encoding="utf-8"?>
<Project>
  <!-- Скопируйте в Secrets.props и вставьте токен hub.mos.ru -->
  <PropertyGroup>
    <HUB_MOS_TOKEN>your_hub_mos_token_here</HUB_MOS_TOKEN>
  </PropertyGroup>
</Project>
